@charset "utf-8";

footer {
  font-family: 'Ubuntu', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-version {
  padding-right: 10px;
  background-color: #222;
  color: #B5CAA0;
  text-align: right;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  background-image: url(./Company.svg);
  background-position: center top;
  background-repeat: no-repeat;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  /*
  background-color: #B5CAA0;
  */
}

.Table-Main {
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  text-align: right;
}

.App-result {
  color: #E16B8C;
  font-size: larger;
  font-style: italic;
  font-weight: bold;
}

.App-result td {
  padding-top: 20px;
}

.App-formula {
  color: #00896C;
  font-size: larger;
  font-style: normal;
  font-weight: normal;
}

.App-remark {
  margin: 30px 0 10px 0;
  font-size: smaller;
}

.App body footer {
  padding: 2px 0px;
  background-color: #86A697;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
